/* .container{
    max-width:124rem;
    padding: 4rem 1rem;
    margin: 0 auto;
}  */

.heading{
    /* padding:1rem 0;
    font-size: 3.5rem; */
    text-align: center;
} 

/* .swiper_container{
    width: 37rem;
    padding: 2rem 0;
    position:relative
}   */
.swiper {
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start; */
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .swiper-slide {
    /* display: flex;
    justify-content: flex-start;
    align-items: flex-start; */
    background-position: center;
    background-size: cover;
    width: 400px;
    height: 300px;
  }
  
  /* .swiper-slide:hover{
    backdrop-filter: blur(10px);
  }
   */
  .swiper-slide img {
    display: block;
    width: 100%;
  }